body {
  background-color: #eaeaea;
}
.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    to right bottom,
    #5460de,
    #1277e4,
    #0089e2,
    #0098da,
    #38a5cf,
    #4daeca,
    #65b6c6,
    #7cbec3
  );
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  box-shadow: 0 1px 2px 0 rgb(34, 36, 38, 0.15) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #5460de,
    #1277e4,
    #0089e2,
    #0098da,
    #38a5cf,
    #4daeca,
    #65b6c6,
    #7cbec3,
    #86c5c2,
    #92ccc0,
    #a0d3be,
    #b0d9bd
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/
